    :root {
  --color-primary: #008197;
  --color-text-dark: #161616;
  --color-text-light: #ffffff;
  --color-text-secondary: #808080;
  --color-text-subtle: #1f1f1f;
  --color-background-light: #ffffff;
  --color-background-dark: #161616;
  --color-background-grey: #f6f6f6;
  --color-background-grey-light: #ebebeb;
  --color-accent-green: #00c047;
  --font-main: 'Instrument Sans', sans-serif;
  --font-display: 'Sora', sans-serif;
}
    body {
    height: 100vh;
    overflow: hidden;    
    color: #111;
    font-family: var(--font-main);
    background-color: var(--color-background-light);
    color: var(--color-text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 10px 5vw;
    text-align: center;
    }
    .logo img{
        margin-top: 14px;
        width: 5.84vw;
        height: 9.72vw;
    }
    .main-text{
        margin-top: 10px;
        font-size: 9.6vw;
        line-height: 10.5vw;
        font-weight: 550;
        letter-spacing: -0.06em;
        white-space: nowrap;
    }
    .black-text{
        color: var(--color-text-dark);
    }
    .blue-text{
        color: var(--color-primary);
    }
    .subtitle{
        margin-top: 10px;
        color: var(--color-text-secondary);
        font-size: 3.05vw;
        letter-spacing: -0.45px;
    }
    .highlight{
        margin-top: 10px;
        font-weight: 500;
        font-size: 5vw;
        letter-spacing: -0.45px;
    }
    .web-info{
        margin-top: 10px;
        color: var(--color-text-secondary);
        font-size: 2.9vw;
        font-weight: 400;
    }
    .greetings{
        margin-top: 10px;
        color: var(--color-text-dark);
        font-size: 3.06vw;
        font-weight: 400;
    }
    .profile-background img{
        position: fixed;
        bottom: 13vw;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        z-index: 1;
    }
    .fahadsheikh-picture img{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 98%;
    }
@media screen and (min-height: 800px) {
    .top-section {
        margin-top: 12vh;
    }
}
@media (min-width: 700px) {
    .profile-background img{
        display: flex;
        position: fixed;
        bottom: 30vw;
    }
    .fahadsheikh-picture img{
        display: none;
    }
}

